<nz-header>
  <div class="logo" (click)="toHomePage()">
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px; width: 100%">
    <li nz-menu-item (click)="toHomePage()">Home</li>
    <li nz-menu-item (click)="toProfilePage()">Account</li>
    <li nz-menu-item (click)="toMarkertPage()">Market</li>
    <li nz-menu-item (click)="toTutorialsPage()">Tutorials</li>
    <li nz-menu-item (click)="toAdminPage()" style="float: right;">Admin</li>
    <li nz-menu-item style="float: right;" (click)="toCreateAccount()">Create New Account</li>
  </ul>
</nz-header>
