<nz-header>
  <div class="logo">
  </div>
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
    <li nz-menu-item (click)="toHomePage()"><strong>LUSAKA STOCK EXCHANGE</strong></li>
    <li nz-menu-item (click)="toHomePage()">Home</li>
    <li nz-menu-item (click)="toProfilePage()">Account</li>
    <li nz-menu-item>Market</li>
    <li nz-menu-item>Transaction History</li>
    <li nz-menu-item style="float: right;" (click)="toCreateAccount()">Create New Account</li>
  </ul>
</nz-header>
