<nz-divider nzText="Progress"></nz-divider>
<app-steps></app-steps>
<nz-divider></nz-divider>
<div class="tax-info">
   <nz-card style="margin: 50px">
      <h2>TODO: Ask for the details</h2>
   </nz-card>
   <nz-button-group [nzSize]="'large'" class="buttons">
      <button nz-button nzType="default" (click)="onBackClicked()"><i nz-icon type="caret-left"></i>Back</button>
      <button nz-button nzType="default" (click)="onSubmit()">Save & Proceed<i nz-icon type="caret-right"></i></button>
   </nz-button-group>
</div>
