<div class="admin-page">
  <nz-card nzTitle="Order Book" [nzExtra]="extraTemplate">
    <div>
      <div>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </div>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <p>Something here</p>
  </ng-template>

  <nz-card nzTitle="Open Orders" [nzExtra]="extraTemp" style="margin-top: 25px;">
    <div>
      <div>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </div>
    </div>
  </nz-card>
  <ng-template #extraTemp>
    <p>Something here</p>
  </ng-template>

  <nz-card nzTitle="Market History" [nzExtra]="extraTemp" style="margin-top: 25px;">
    <div>
      <div>
        <p>Card content</p>
        <p>Card content</p>
        <p>Card content</p>
      </div>
    </div>
  </nz-card>
  <ng-template #extraTemp>
    <p>Something here</p>
  </ng-template>


</div>
