<div class="steps">
  <nz-steps [nzCurrent]='current'>
    <nz-step nzTitle="Select Account" nzDescription="Choose the type of account you want."></nz-step>
    <nz-step nzTitle="Personal Info" nzDescription="Enter Your Personal Details."></nz-step>
    <nz-step nzTitle="Address Info" nzDescription="Enter Your Address Information."></nz-step>
    <nz-step nzTitle="Tax Info" nzDescription="Enter Your Tax Details."></nz-step>
    <nz-step nzTitle="Bank Info" nzDescription="Enter you credit card details."></nz-step>
  </nz-steps>
</div>
