<div class="steps">
  <nz-steps [nzCurrent]='current'>
    <nz-step nzTitle="Account Type" nzDescription="Choose the Type of Account You Want."></nz-step>
    <nz-step nzTitle="Personal Info" nzDescription="Enter Your Personal Details."></nz-step>
    <nz-step nzTitle="Address Info" nzDescription="Enter Your Address Information."></nz-step>
    <nz-step nzTitle="Tax Info" nzDescription="Enter Your Tax Details."></nz-step>
    <nz-step nzTitle="Bank Info" nzDescription="Enter Your Credit Card details."></nz-step>
  </nz-steps>
</div>
