<div class="market-page">
   <div nz-row>
      <div nz-col nzSpan="8">
         <nz-card nzTitle="Bid" style="margin: 10px;">
            <nz-input-group nzAddOnBefore="Units">
               <input type="text" nz-input [(ngModel)]="inputValue1" placeholder="0.0000" />
            </nz-input-group>
            <nz-input-group nzAddOnBefore="Bid" style="margin-top: 5px;">
               <input type="text" nz-input [(ngModel)]="inputValue1" placeholder="0.0000" />
            </nz-input-group>
            <div class="bid-buttons" style="margin-top: 5px;">
               <button nz-button style="margin: 5px;" nzType="primary">Limit</button>
               <button nz-button style="margin: 5px;" nzType="primary">Market</button>
            </div>
            <nz-input-group nzAddOnBefore="Total" style="margin-top: 5px;">
               <input type="text" nz-input [(ngModel)]="inputValue1" placeholder="0.0000" />
            </nz-input-group>
            <button nz-button style="margin: 5px;" nzType="primary">Buy {{selectedValue}} Shares</button>
         </nz-card>
         <nz-card nzTitle="Ask" style="margin: 10px;">
            <nz-input-group nzAddOnBefore="Units">
               <input type="text" nz-input [(ngModel)]="inputValue1" placeholder="0.0000" />
            </nz-input-group>
            <nz-input-group nzAddOnBefore="Ask" style="margin-top: 5px;">
               <input type="text" nz-input [(ngModel)]="inputValue1" placeholder="0.0000" />
            </nz-input-group>
            <div class="bid-buttons" style="margin-top: 5px;">
               <button nz-button style="margin: 5px;" nzType="primary">Limit</button>
               <button nz-button style="margin: 5px;" nzType="primary">Market</button>
            </div>
            <nz-input-group nzAddOnBefore="Total" style="margin-top: 5px;">
               <input type="text" nz-input [(ngModel)]="inputValue1" placeholder="0.0000" />
            </nz-input-group>
            <button nz-button style="margin: 5px;" nzType="primary">Sell {{selectedValue}} Shares</button>
         </nz-card>
      </div>
      <div nz-col nzSpan="16" class="stock-chart">
         <div>
            <nz-select style="width: 200px; margin-top: 10px;" nzShowSearch nzAllowClear nzPlaceHolder="Select Exchange"
               [(ngModel)]="selectedValue">
               <nz-option nzLabel="ATEL" nzValue="ATEL"></nz-option>
               <nz-option nzLabel="MAFS" nzValue="MAFS"></nz-option>
               <nz-option nzLabel="PUMA" nzValue="PUMA"></nz-option>
               <nz-option nzLabel="BATA" nzValue="BATA"></nz-option>
            </nz-select>
         </div>
         <div>
            <h2 style="text-align: center">{{selectedValue}} Stock Price</h2>
            <div [chart]="stock"></div>
            <div>
               <div style="padding:30px;">
                  <div nz-row [nzGutter]="8">
                     <div nz-col [nzSpan]="8">
                        <nz-card nzTitle="Bid Price">
                           <h1>KMW 0.5</h1>
                        </nz-card>
                     </div>
                     <div nz-col [nzSpan]="8">
                        <nz-card nzTitle="Ask Price">
                           <h1>KMW 2.5</h1>
                        </nz-card>
                     </div>
                     <div nz-col [nzSpan]="8">
                        <nz-card nzTitle="Last Price">
                           <h1>KMW 0.3</h1>
                        </nz-card>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
